<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthSignatureServiceBinding" />
                <binding name="CardServiceBinding" />
                <binding name="CertificateServiceBinding" />
                <binding name="EventServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ti-konnektor/authsignatureservice"
                binding="basicHttpBinding" bindingConfiguration="AuthSignatureServiceBinding"
                contract="AuthSignatureService.AuthSignatureServicePortType"
                name="AuthSignatureServicePort" />
            <endpoint address="http://ti-konnektor/cardservice" binding="basicHttpBinding"
                bindingConfiguration="CardServiceBinding" contract="CardService.CardServicePortType"
                name="CardServicePort" />
            <endpoint address="http://ti-konnektor/certificateservice" binding="basicHttpBinding"
                bindingConfiguration="CertificateServiceBinding" contract="CertificateService.CertificateServicePortType"
                name="CertificateServicePort" />
            <endpoint address="http://ti-konnektor/eventservice" binding="basicHttpBinding"
                bindingConfiguration="EventServiceBinding" contract="EventService.EventServicePortType"
                name="EventServicePort" />
        </client>
    </system.serviceModel>
</configuration>